@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
*{font-family: "Fira Sans", serif;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin: 31px 160px;

}
nav h3{
    font-size: 32px
    font-weight: 700px;
    color: #0E0E0E;
    
}
nav button{
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    width: 116 Hug;
 height: 52 Hug; 
 padding: 15px 30px;
}

.banner{
    display: flex;
    justify-content: space-between;
    background-color:#C6E4D6;
 padding: 100px 80 px;
 margin: 160px; 
}
.banner-description{
    font-size: 56px;
    font-weight: bold;}
.banner-content{
    margin-left: 60px;
}
.banner button{
    font-size: 18px;
    font-weight: 600; color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
  border-radius: 8px;
  border: none;
}








